/*!************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/app/paginator.module.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************/
.paginator_pagination__rOIpZ {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.paginator_pageLink__Ouw6M {
  cursor: pointer;
}

/* pagination pageItem */
.paginator_pageItem__BlPya {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  border: 1px solid #eaeaea;
  border-radius: 0.5rem;
  cursor: pointer;
}

/* pagination page item when active */
.paginator_pageItemActive__PCD2H {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  border: 1px solid #eaeaea;
  border-radius: 0.5rem;
  cursor: pointer;
  background-color: rgba(37, 99, 235, 1)
}

